<div id="issues">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Issue Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let it of issuesList">
                <td>
                    {{it?.issueName}}
                </td>
                <td>
                    <button (click)="deleteIssue(it?.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>