<div id="issues">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Issue Name</th>
                <th scope="col">Descriptioni</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let it of issuesList">
                <td>
                    {{it?.id}}
                </td>
                <td>
                    {{it?.issueName}}
                </td>
                <td>
                    {{it?.description}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="editIssue(it?.id)">
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="deleteIssue(it?.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>